<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button size="small" [routerDirection]="'forward'" [routerLink]="['/cart']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-avatar class="circle">
    <ion-img [src]="cliente?.imageUrl || 'assets/icon/avatar-blank.png'"></ion-img>
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center>{{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      <ion-title>Enviar imagem de perfil</ion-title>
    </ion-card-header>
    <ion-item expand="block" *ngIf="picture">
      <ion-img [src]="picture"></ion-img>
    </ion-item>
    <ion-button expand="block" (click)="getCameraPicture()" [disabled]="cameraOn">Camera</ion-button>
    <ion-button expand="block" (click)="getGaleryPicture()" [disabled]="cameraOn">Galeria</ion-button>
    <ion-button expand="block" fill="outline" *ngIf="picture" (click)="sendPicture()">Enviar imagem</ion-button>
    <ion-button expand="block" fill="outline" *ngIf="picture" (click)="cancel()">Descartar imagem</ion-button>
  </ion-card> 
</ion-content>
